body {
  margin: 0;
}

#header {
  width:100%;
  background-color:#dddddd;
  height:130px;
  box-sizing: border-box;
}

#main_content {
  width:68%;
  min-width:500px;
  margin-left:auto;
  margin-right:auto;
  background-color:#eeeeee;
  box-sizing: border-box;
  
}